{% extends 'base.html' %}

{% block title %}checkout Package{% endblock %}

{% block container %}
    <div class="checkout">
        <div class="checkout-container">
            <form method="post" action="{% url 'checkout_url' %}">
                {% csrf_token %}
                <div class="checkout-package">
                    <h1>Tracking Number</h1>
                    <div name="reader" class="reader" id="reader"></div>
                    <div class="choose">or</div>
                    <input type="text" class="result" name="result" id="result" placeholder="Type manually here">
                    <button id="submit" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'js/html5-qrcode.min.js' %}"></script>
    <script src="{% static 'js/checkout.js' %}"></script>

{% endblock %}