{% extends 'index.html' %}

{% block title %}Scan Package{% endblock %}

{% block container %}
    {% load static %}
    <script src="{% static 'js/html5-qrcode.min.js' %}"></script>
    <div class="scan">
        <h1 class="scan-title">Scan Your Package</h1>
        <div class="scan-main">
            <div class="scan-reader" id="reader"></div>
            <div class="scan-result" id="result"></div>
        </div>
    </div>
    <script>
        const scanner= new Html5QrcodeScanner('reader',{
            qrbox:{
                width:250,
                height:250,
            },
            fps:20,
        });
        scanner.render(success, error);
        function success(result) {
            document.getElementById('result').innerHTML = `
            <h2>Success!</h2>
            <p><a href="${result}">${result}</a></p>
            `;

            scanner.clear();

            document.getElementById('reader').remove();
        }
        function error(err){
            console.error(err);
        }
    </script>
{% endblock %}