{% extends 'index.html' %}

{% block title %}Scan Package{% endblock %}

{% block container %}
    <div class="scan">
        <div class="scan-title">
            <h1>Scan Your Package</h1>
            <a href="{% url 'home_url' %}">Home</a>
        </div>
        <form method="post" action="{% url 'scan_url' %}">
            {% csrf_token %}
            <div class="scan-main">
                <h1></h1>
                <div name="reader" class="reader" id="reader"></div>
                <input type="text" name="result" id="result"></div>
                <input type="text" name="receiver" id="receiver" placeholder="Type the receiver">
                <button id="submit" type="submit">Save</button>
                <!-- <div class="scan-result" class="result" id="result"></div> -->
            </div>
        </form>
    </div>

    {% load static %}
    <script src="{% static 'js/html5-qrcode.min.js' %}"></script>
    <script src="{% static 'js/scan.js' %}"></script>

{% endblock %}
</div>