{% extends 'index.html' %}

{% block title %}Shipping Center{% endblock %}


{% block container %}
    <h1>Scanning Results</h1>
    <input type="text" id="searchInput" placeholder="Search Your Package">
    <table id="searchTable">
        <tr>
            <th>Scan ID</th>
            <th>Scanned Data</th>
            <th>Created At</th>
        </tr>
        {% for item in item_list %}
            <tr>
                <th>{{item.id}}</th>
                <th>{{item.data}}</th>
                <th>{{item.created_at}}</th>
            </tr>
        {% endfor %}
    </table>
    <script>
        $('#searchInput').on('keyup',function(){
            var value=$(this).val()
            console.log('Value: ',value)
        })
    </script>
{% endblock %}