{% extends 'index.html' %}

{% block title %}Shipping Center{% endblock %}

{% block container %}
    <div class="search-template">
        <input type="text" id="filterInput" placeholder="Search Your Package" oninput="filterTable()">
        <table id="myTable">
            <thead>
              <tr>
                <th>Data</th>
                <th>Created At</th>
                <th>Receiver</th>
                <th>Check Out</th>
                <th>Admin Check</th>
              </tr>
            </thead>
            <tbody>
                {% for item in item_list %}
                    <tr>
                        <td>{{ item.data }}</td>
                        <td>{{ item.created_at }}</td>
                        <td>{{ item.receiver }}</td>
                        <td>{{ item.check_out }}</td>
                        <td>{{ item.admin_check }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}