/* base.html - grid details */
body{
    font-family:'Nexa', sans-serif;
    width: 50%;
    margin: 0 auto !important;
    background-color:gainsboro !important;
}
.base-wrapper{
    position: relative;
    background-color: white;
}
.base-top{
    color:white;
    background-color:#703b28;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    padding:1%;
}
.base-top .base-title{
    display: flex;
    align-items: center;
}
.base-top .base-menu{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    align-items: center;
}
.base-top .base-menu a{
    text-decoration: none;
    color:antiquewhite;
    text-align: center;
    border-left:2px solid antiquewhite;
}
.base-top a:hover{
    color:coral;
}
.base-top .base-login{
    border: 2px solid antiquewhite;
    border-radius: 15px;
    text-align: center;
}
.base-top .base-login .msg{
    grid-row:1;
    text-transform: capitalize;
}
.base-top .base-login .lik{
    grid-row:2;
    display: grid;
}
.base-top .base-login .lik a{   
    text-decoration: none;
    color:antiquewhite;
}
.base-top .base-login .lik a:hover{   
    color:coral;
}
.base-container{
    background-color: whitesmoke;
}
.base-foot{
    color:coral;
    background-color: antiquewhite;
    text-align: center;
    height: 100%;
    padding:1%;
    margin:auto;
}
.base-foot a{
    color:rgb(185, 151, 107);
}


/*login.html*/
.register-login{
    margin:2% auto;
    padding:3%;
    background-color: aliceblue;
}
.register-login button{
    background-color: rgb(94, 171, 239);
    color:white;
    margin-top:1%;
    border-radius: 5px;
    border:1px solid rgb(3, 127, 234);
}
.register-login button:hover{
    background-color: coral;
    color:antiquewhite;
    cursor: pointer;
    border:1px solid rgb(250, 68, 2);
}
.register-login .login{
    width: 50%;
    margin:auto;
}
.register-login .register{
    width: 50%;
    margin:auto;
}
.register-login .register h5{
    font-weight: 400;
    text-transform:inherit;
    font-size: 1rem;
    color:rgb(94, 171, 239);
}


/* home.html - grid details */
.home-container{
    text-align: center;
    background-color: white;
    height: 100%;
    margin: auto;
    color:rgb(185, 151, 107);
}
.home-container img{
    width: 800px;
    height: 400px;
}
.home-container a{
    text-decoration: none;
    color:orangered;
}
.home-container a:hover{
    color:white;
}
.home-search:hover{
    background-color: #703b28;
}
.home-checkout:hover{
    background-color:#703b28;
}
.home-add:hover{
    background-color: #703b28;
}
.home-info{
    background-color:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-info .name{
    color: #703b28;
    font-weight: 700;
}
.home-search{
    background-color:beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom:55px;
}
.home-checkout{
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom:55px;
}
.home-add{
    background-color:beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom:55px;
}


/* index.html - text general settings*/
.container a{
    color:#58208A;
    width:100%
}
.container .main{
    font-size:3rem;
    width:100%;
    color:white;
    text-transform: capitalize;
    font-weight:800;
}
.container .menu{
    font-size:3rem;
    width:100%;
    color:white;
    text-transform: capitalize;
    font-weight:800;
}
.container .menu:hover{
    color:#58208A;
    background-color: beige;
}
.container h2{
    font-size:2rem;
    color:cornsilk;
    text-transform: capitalize;
    margin:0;
}
.container h3{
    font-size:1.5rem;
    color:white;
    margin:0;
    padding-bottom:3%;
}

/* search.html */
.search-detail {
    width:90%;
    margin:3% auto;
    padding:2% 0;
}
.search-detail input{
    margin-bottom:1%;
    border:3px solid rgb(176, 166, 154);
    font-size:2rem;
    color:coral;
    background-color:white;
}
.search-detail input::placeholder{
    color:coral;
}
.search-detail table, .search-detail tr, .search-detail th, .search-detail td{
    border:2px solid rgb(176, 166, 154);
    border-collapse: collapse;
    padding:10px;
}
.search-detail table th{
    background-color: antiquewhite;
    color:black;
}
.search-detail a{
    background-color: antiquewhite;
    color:coral;
    border-radius:5px;
    padding:2px;
    border: 1px solid coral;
    font-weight:600;
    text-decoration: none;
}
.search-detail a:hover{
    background-color:coral;
    border: 1px solid red;
    color:white;
    font-weight:600;
}


/* checkout.html */
.checkout{
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(224, 224, 224);
    background-image:url('https://as1.ftcdn.net/v2/jpg/04/43/27/64/1000_F_443276418_f5KzpPzH8ksaGoRlTnio2AI0yhpo0rzL.jpg');
}
.checkout-container{
    background-color: rgb(222, 242, 189);
    text-align: center;
    font-size:2rem;
    padding:2%;
}
.checkout-package{
    display:grid;
    justify-content: center;
    align-items: center;
    background-color:white;
    border-radius: 10px;
    padding:6%;
}
/* frame of checkout*/
.checkout-package .choose{
    border-left:1px #CDC8C2 solid;
    border-right:1px #CDC8C2 solid;
    color:rgb(107, 87, 60);
    font-weight: 600;
}
.checkout-package h1{
    color:coral;
}
.checkout-package h5{
    color:rgb(107, 87, 60);
    font-weight:600;
}
.checkout-package .reader{
    width: 600px;
    background-color:antiquewhite;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.checkout-package .result{
    text-align: center;
    border-radius: 0 0 15px 15px;
}
.checkout-package #reader__scan_region{
    display: none;
}
.checkout-package img[alt="Info icon"]{
    display: none;
}
.checkout-package .html5-qrcode-element{
    background-color:#ef8058;
    color:white;
    border-radius: 10px;
    font-size:1.5rem;
    width: 90%;
    text-decoration: none !important;
    border:none;
    padding:1%;
    text-align: center;
    font-weight: 600;
}
.checkout-package .html5-qrcode-element:hover{
    background-color:rgb(107, 87, 60);
}
.checkout-package input{
    color:coral;
    font-weight:600;
    background-color: antiquewhite;
    border:1px solid #CDC8C2;
}
.checkout-package input::placeholder{
    color:rgba(107, 87, 60, 0.446);
    font-weight:600;
}
.checkout-package .submit{
    background-color:rgb(222, 242, 189);
    color:coral;
    border:1px solid #CDC8C2;
    border-radius: 10px;
    font-size: 2rem;
    margin:1% 1% 8% 1%;
    font-weight: 600;
}
.checkout-package button:hover{
    background-color:rgb(87, 97, 74);
    color:white;
}

/* add.html*/
.add{
    text-align: center;
    padding:5%;
    background-color:rgb(222, 242, 189);
}
.add h1{
    color:rgb(87, 97, 74);
    font-weight: 700;
    margin-bottom:2%
}
.add .add-menu{
    border:3px dashed rgb(122, 142, 91);
    width: 50%;
    margin: auto auto 5% auto;
    background-color: rgb(255, 253, 240);
}
.add .add-menu a{
    text-decoration: none;
    margin:3%;
    color:coral;
}
.add .add-menu a h3{
    background-color:rgb(249, 226, 196);
    margin:auto;
    width: 90%;
    padding:2%;
    font-weight: 600;
}
.add .add-menu a h3:hover{
    background-color:rgb(87, 97, 74);
    color:white;
    cursor: pointer;
}


/* add_scan.html */
.scan{
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(224, 224, 224);
    background-image:url('https://as1.ftcdn.net/v2/jpg/04/43/27/64/1000_F_443276418_f5KzpPzH8ksaGoRlTnio2AI0yhpo0rzL.jpg');
}
.scan-container{
    background-color: rgb(222, 242, 189);
    text-align: center;
    font-size:2rem;
    padding:2%;
}
.scan-package{
    background-color:white;
    border-radius: 10px;
    padding:6%;
}
.scan-package h1{
    color:coral;
}
.scan-track h5{
    content:"Scan QR or Barcode";
    color:rgb(107, 87, 60);
    font-weight:600;
}

.scan-track{
    display:grid;
    justify-content: center;
    align-items: center; 
}
.scan-track .choose{
    border-left:1px #CDC8C2 solid;
    border-right:1px #CDC8C2 solid;
    color:rgb(107, 87, 60);
    font-weight: 600;
}
.scan-track .reader{
    background-color:antiquewhite;
    border-radius: 15px 15px 0 0;
}
.scan-track .result{
    text-align: center;
    border-radius: 0 0 15px 15px;
}
.scan-track #reader__scan_region{
    display: none;
}
.scan-track img[alt="Info icon"]{
    display: none;
}
.scan-track .html5-qrcode-element{
    background-color:#ef8058;
    color:white;
    border-radius: 10px;
    font-size:1.5rem;
    width: 90%;
    text-decoration: none !important;
    border:none;
    padding:1%;
    text-align: center;
    font-weight: 600;
}
.scan-track .html5-qrcode-element:hover{
    background-color:rgb(107, 87, 60);
}
.scan-track input{
    background-color:antiquewhite;
    border-radius: 10px;
    text-align: center;
    color:coral;
    font-weight:600;
    border:1px solid #CDC8C2;
}
.scan-track input::placeholder{
    color:rgba(107, 87, 60, 0.446);
    font-weight:600;
}


.scan-receiver{
    margin-top:3%;
}


.scan-submit{
    margin-top:5%;
    margin-bottom:8%;
}
.scan-submit button{
    background-color:rgb(222, 242, 189);
    color:coral;
    border:1px solid #CDC8C2;
    border-radius: 10px;
    font-size: 2rem;
    width: 100%;
    font-weight: 600;
}
.scan-submit button:hover{
    background-color:rgb(87, 97, 74);
    color:white;
}
.scan .element.style{
    border:1px solid black;
}


/* add_generate.html*/
.generate{
    background-color:white;
    font-size:2rem;
    padding:4% 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    color:coral;
}
.generate .generate-content{
    background-color:rgb(228, 223, 216);
    border-radius: 10px;
    margin:auto;
    text-align: center;
    width: max-content;
    padding:3%;
    margin:auto;
}
.generate .generate-content img{
    margin:0 0 16% 0;
}
.generate option{
    font-size:1.2rem;
    font-weight: 500;
    color:coral;
}
.generate #size{
    font-size:1.5rem;
    font-weight: 500;
    color:coral; 
    border-radius: 10px;
    border:2px solid rgb(107, 87, 60);
}
.generate textarea{
    font-size:1.5rem;
    color:coral;
    background-color:#FFFFFF;
    border-radius: 10px;
    border:2px solid rgb(107, 87, 60);
    font-weight: 600;
}
.generate input{
    background-color:#FFFFFF;
    color:coral;
    border-radius: 10px;
    font-size:1.5rem;
    border:2px solid rgb(107, 87, 60);
}
.generate input:hover{
    background-color: rgb(107, 87, 60);
    color:#FFFFFF;
}
.generate textarea::placeholder{
    color:coral;
    font-size:1ren;
}

/* message.html */
.message{
    text-align: center;
    margin:3%;
    padding:10%;
}
.message img{
    width: 20%;
}
.message .info{
    color:navy;   
    text-transform: inherit;
}
.message .back{
    background-color: aliceblue;
}
.message .result{
    background-color: beige;
}
.message .home{
    background-color: greenyellow;
}