body{
    font-family:'Nexa', sans-serif;
    margin:0;
}

/* index.html - grid details */
.container{
    width: 100%;
    display: grid;
    grid-detail-rows: 85% 85% 85% 85% 10%;
    text-align: center;
}
.container .info{
    grid-row:1;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://t3.ftcdn.net/jpg/03/69/69/66/240_F_369696638_Dnb4YQih8R5nW2pnTXpUjLTpwzs5TuwX.jpg');
    background-image:url('https://t4.ftcdn.net/jpg/03/65/36/53/240_F_365365352_9E1EP9oRz5QytXx4OK2O36tLZmQTkaPk.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.container .search{
    grid-row:2;
    background-color: rgb(169, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:url('https://t4.ftcdn.net/jpg/02/21/22/63/240_F_221226305_9Gij9LQt2ooEM712qQ9TDwpkXMvfqdwp.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.container .scan{
    grid-row:3;
    background-color: rgb(140, 0, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:url('https://t4.ftcdn.net/jpg/02/68/61/11/240_F_268611102_4omJUfdGvvZ4xMLLn92RlA6xz4A8g4Xb.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.container .add{
    grid-row:4;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://t3.ftcdn.net/jpg/02/15/13/02/240_F_215130263_GyMwGP6LbToxkuVNEsy1KTv2ScfEJWoQ.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.container .foot{
    grid-row:5;
    color:white;
    background-color: coral;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:2%;

}

/* index.html - text general settings*/
.container a{
    color:#58208A;
    width:100%
}
.container h1{
    font-size:3rem;
    width:100%;
    color:white;
    text-transform: capitalize;
    font-weight:800;
}
.container h1:hover{
    color:#58208A;
    background-color: beige;
}
.container h2{
    font-size:2rem;
    color:cornsilk;
    text-transform: capitalize;
    margin:0;
}
.container h3{
    font-size:1.5rem;
    color:white;
    margin:0;
    padding-bottom:3%;
}

/* search.html */
.search-detail {
    width:90%;
    margin:3% auto;
}
.search-detail input{
    margin-bottom:1%;
    border:1px solid pink;
    font-size:2rem;
}
.search-detail table, .search-detail tr, .search-detail th, .search-detail td{
    border:1px solid pink;
    border-collapse: collapse;
    padding:10px;
}
.search-detail table th{
    background-color: rgba(255, 192, 203, 0.596);
    color:purple;
}
.search-detail button{
    background-color: pink;
    color:navy;
    border-radius:5px;
    border: 1px solid deeppink;
    font-weight:600;
}
.search-detail button:hover{
    background-color:navy;
    color:white;
    font-weight:600;
}