/* base.html - grid details */
body{
    font-family:'Nexa', sans-serif;
    width: 50%;
    margin: auto !important;
}
.base-wrapper{
    position: relative;
    background-color: white;
}
.base-top{
    color:white;
    background-color: coral;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:1%;
}
.base-top .base-title{
    display: flex;
    align-items: center;
}
.base-top .base-login{
    text-align: right;
}
.base-top .base-login .msg{
    grid-row:1;
}
.base-top .base-login .lik{
    grid-row:2;
}
.base-container{
    background-color: whitesmoke;
}
.base-foot{
    height:8%;
    bottom:0;
    color:coral;
    background-color: antiquewhite;
    text-align: center;
}

/* home.html - grid details */
.home-container{
    text-align: center;
    background-color: white;
    height: 100%;
    margin: auto;
    color:rgb(185, 151, 107);
}
.home-container img{
    width: 800px;
    height: 400px;
}
.home-container a{
    text-decoration: none;
    color:orangered;
}
.home-container a:hover{
    color:white;
}
.home-search:hover{
    background-color: coral;
}
.home-scan:hover{
    background-color:coral;
}
.home-add:hover{
    background-color: coral;
}
.home-info{
    background-color:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-search{
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom:55px;
}
.home-scan{
    background-color:rgb(241, 235, 175);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom:55px;
}
.home-add{
    background-color:rgb(222, 242, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom:55px;
}

/* index.html - text general settings*/
.container a{
    color:#58208A;
    width:100%
}
.container .main{
    font-size:3rem;
    width:100%;
    color:white;
    text-transform: capitalize;
    font-weight:800;
}
.container .menu{
    font-size:3rem;
    width:100%;
    color:white;
    text-transform: capitalize;
    font-weight:800;
}
.container .menu:hover{
    color:#58208A;
    background-color: beige;
}
.container h2{
    font-size:2rem;
    color:cornsilk;
    text-transform: capitalize;
    margin:0;
}
.container h3{
    font-size:1.5rem;
    color:white;
    margin:0;
    padding-bottom:3%;
}

/* search.html */
.search-detail {
    width:90%;
    margin:3% auto;
}
.search-detail input{
    margin-bottom:1%;
    border:1px solid pink;
    font-size:2rem;
    color:rgb(255, 115, 138);
    background-color:antiquewhite;
}
.search-detail input:focus{
    border-color:blue;
}
.search-detail input:blank{
    border-color:purple;
}
.search-detail table, .search-detail tr, .search-detail th, .search-detail td{
    border:1px solid pink;
    border-collapse: collapse;
    padding:10px;
}
.search-detail table th{
    background-color: rgba(255, 192, 203, 0.596);
    color:navy;
}
.search-detail a{
    background-color: pink;
    color:navy;
    border-radius:5px;
    border: 1px solid deeppink;
    font-weight:600;
    text-decoration: none;
}
.search-detail a:hover{
    background-color:navy;
    color:white;
    font-weight:600;
}

/* scan.html */
.scan{
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(224, 224, 224);
    background-image:url('https://as1.ftcdn.net/v2/jpg/04/43/27/64/1000_F_443276418_f5KzpPzH8ksaGoRlTnio2AI0yhpo0rzL.jpg');
}
.scan-top{
    display: grid;
    grid-template-columns: 11fr 1fr 1fr;
}
.scan-top h1{
    grid-column: 1;
    font-size:3rem;
    font-weight: 800;
    color:blue;
    padding:1%;
    text-align:center;
}
.scan-top .home_tag{
    grid-column: 2;
    text-align: right;
    font-size: 3rem;
}
.scan-top .search_tag{
    grid-column: 3;
    text-align: left;
    padding-left:5%;
    font-size: 3rem;
}

.scan-container{
    background-color: rgb(192, 255, 193);
    text-align: center;
    font-size:2rem;
    padding:2%
}

.scan-package{
    display:grid;
    justify-content: center;
    align-items: center;
    background-color:rgb(210, 161, 161);
}
.scan-package .reader{
    width: 600px;
    background-color: rgb(194, 255, 250);
    width: 100%;
}
.scan-package .result{
    text-align: center;
}
.scan-package #reader__scan_region img{
    width:200;
    height:200;
}
.scan-package .scan-reader img[alt="Info icon"]{
    display: none;
}
.scan-package #html5-qrcode-button-camera-permission{
    background-color: skyblue;
    color:white;
    border:1px solid blue;
    border-radius: 10px;
}
.scan-package #html5-qrcode-anchor-scan-type-change{
    margin-top:10%;
    /* background-color: skyblue; */
    color:blue;
    /* border:1px solid blue; */
    border-radius: 10px;
    text-decoration: none;
}
.scan-package #html5-qrcode-button-file-selection{
    background-color: skyblue;
    color:white;
    border:1px solid blue;
    border-radius: 10px;
}
.scan-receive{
    background-color: beige;
}
.scan-submit{
    background-color:cadetblue;
    text-align: center;
    font-size:2rem;
}
.scan-submit button{
    background-color: #58208A;
}


/* add.html*/
.generate{
    background-color: #606468;
    font-size:3rem;
    padding:5% 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    color:white;
}
.generate h2{
    font-size:6rem;
    margin-top:30%;
    margin-bottom:10%
}
.generate .generate-content{
    background-color:coral;
    margin:auto;
    text-align: center;
    width: max-content;
    padding:3%;
    font-size:6rem;
    margin:auto;
}
.generate .generate-content img{
    margin:0 0 16% 0;
}
.generate option{
    font-size:1rem;
}
.generate input{
    background-color: antiquewhite;
    border-radius: 10px;
}
.generate input:hover{
    background-color: darksalmon;
    color:whitesmoke;
}

/* checkout.html */
.checkout{
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(224, 224, 224);
    background-image:url('https://as1.ftcdn.net/v2/jpg/04/43/27/64/1000_F_443276418_f5KzpPzH8ksaGoRlTnio2AI0yhpo0rzL.jpg');
}
.checkout-top{
    display: grid;
    grid-template-columns: 11fr 1fr 1fr;
}
.checkout-top h1{
    grid-column: 1;
    font-size:3rem;
    font-weight: 800;
    color:blue;
    padding:1%;
    text-align:center;
}
.checkout-top .home_tag{
    grid-column: 2;
    text-align: right;
    font-size: 3rem;
}
.checkout-top .search_tag{
    grid-column: 3;
    text-align: left;
    padding-left:5%;
    font-size: 3rem;
}

.checkout-container{
    background-color: rgb(192, 255, 193);
    text-align: center;
    font-size:2rem;
    padding:2%
}

.checkout-package{
    display:grid;
    justify-content: center;
    align-items: center;
    background-color:rgb(210, 161, 161);
}
.checkout-package .reader{
    width: 600px;
    background-color: rgb(194, 255, 250);
    width: 100%;
}
.checkout-package .result{
    text-align: center;
}
.checkout-package #reader__checkout_region img{
    width:200;
    height:200;
}
.checkout-package .checkout-reader img[alt="Info icon"]{
    display: none;
}
.checkout-package #html5-qrcode-button-camera-permission{
    background-color: skyblue;
    color:white;
    border:1px solid blue;
    border-radius: 10px;
}
.checkout-package #html5-qrcode-anchor-checkout-type-change{
    margin-top:10%;
    /* background-color: skyblue; */
    color:blue;
    /* border:1px solid blue; */
    border-radius: 10px;
    text-decoration: none;
}
.checkout-package #html5-qrcode-button-file-selection{
    background-color: skyblue;
    color:white;
    border:1px solid blue;
    border-radius: 10px;
}
.checkout-receive{
    background-color: beige;
}
.checkout-submit{
    background-color:cadetblue;
    text-align: center;
    font-size:2rem;
}
.checkout-submit button{
    background-color: #58208A;
}